.hero{
    position: relative;
}

.banner{
    width: 100%;
    mask-image: linear-gradient(to right, transparent,black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent,black 75%);
}

.herocap{
    width: 100%;
    position: absolute;
    padding-left: 6%;
    bottom: 0;
}

.captioni{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}

.herocap p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.herob{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;

}

.herob .btn img{
    width: 25px;
}

.herob .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: whitesmoke;
    border-radius: 4px;
    cursor: pointer;
}

.herob .btn.dark-btn{
    color: #fff;
    background: #6d6d6eb3;
}

.herob .btn:hover{
    background: #ffffffbf;
}

.herob .btn.dark-btn:hover{
    background: #6d6d6e66;
}

.morecards{
    padding: 6%;
}

@media (max-width: 1024px){
    .herocap .titlecards{
        display: none;
    }
    .herob{
        margin-bottom: 30px;
    }
}

@media (max-width: 800px){
    .herocap{
        padding-left: 4%;
    }
    .captioni{
        margin-bottom: 10px;
        width: 40%;
    }
    .herocap p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .herob .btn img{ 
        width: 20px;
    }
    .morecards{
        padding-left: 4%;
    }
}

@media (max-width: 500px){
    .captioni{
        display: none;
    }
    .herob .btn img{
        width: 15px;
    }
    .herob .btn{
        padding: 4px 10px;
        gap: 5px;
        font-size: 10px;
    }
}